<div class="page-container">
    <!--
       Щоб перевірити можливість редагувння рецета і відобразити форму редагування
       Або відобразити деталі рецепту треба щоб був завантажений рецепт та користувач
       Якщо йде завантаження - відображаємо лоадер
    -->
    @if (currentUserLoading || isLoading) {
        <app-progress-loader></app-progress-loader>
    } @else {
        <!--
            Якщо в параметрах є ID, то ми або редагуємо свій рецепт, або відображаємо чужий
            Якщо користувач не авторизований або не власник рецета - показуємо деталі рецепта
            Якщо користувач власник рецепта, то відображаємо форму редагування власного рецепта
        -->
        @if (recipeId && (!authenticated || user?.identifier !== recipeResponse?.recipe?.createdBy)) {
            <app-recipe-details [recipeResponse]="recipeResponse" [user]="user"></app-recipe-details>
        } @else {
            <!--
                Якщо в параметрах немає ID, то ми створюємо новий рецепт
                Коли користувач не авторизований, то пропонуємо авторизуватись, бо неможливо створити рецепт без
                авторизації. Якщо авторизований - відображаємо пусту форму створення рецепта.
            -->
            @if (!authenticated) {
                <app-unauthorized message="Авторизуйтесь щоб мати можливіть створити рецепт"></app-unauthorized>
            } @else {
                <ng-container *ngTemplateOutlet="recipeFormTemplate"></ng-container>
            }
        }
    }
</div>

<ng-template #recipeFormTemplate>
    <form class="recipe-container"
          [formGroup]="recipeForm">
        <div class="recipe-header">
            <div class="upload-picture-column edit-mode-form-container">
                <app-recipe-picture
                        [editable]="true"
                        formControlName="imageUrl"></app-recipe-picture>
                @if (recipeForm.get('imageUrl')?.hasError('required')
                && recipeForm.get('imageUrl')?.touched) {
                    <mat-error class="app-custom-control-error">Додайте зображення рецепта</mat-error>
                }
            </div>
            <div class="info-column">
                <h1 class="page-title">{{ pageTitle }}</h1>
                <div class="edit-mode-form-container">
                    <div class="form-row">
                        <mat-form-field appearance="outline">
                            <mat-label>Назва рецепта</mat-label>
                            <input matInput formControlName="name">
                            @if (recipeForm.get('name')?.hasError('required')) {
                                <mat-error>
                                    Будь ласка вкажіть назву рецепта
                                </mat-error>
                            }
                            @if (recipeForm.get('name')?.hasError('maxlength')) {
                                <mat-error>
                                    Назва не повинна перевищувати 50 символів
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="form-row">
                        <mat-form-field appearance="outline" class="description-field">
                            <mat-label>Опис</mat-label>
                            <textarea matInput
                                      cdkTextareaAutosize
                                      cdkAutosizeMinRows="7"
                                      rows="7"
                                      #autosize="cdkTextareaAutosize"
                                      formControlName="description"></textarea>
                            @if (recipeForm.get('description')?.hasError('maxlength')) {
                                <mat-error>
                                    Опис не повинен бути більше 500 символів
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="edit-mode-form-container">
            <div class="form-row">
                <div class="flex-column-wrapper">
                    <app-cooking-time-picker
                            formControlName="cookingTime"
                            class="cooking-time-picker"></app-cooking-time-picker>
                    @if (recipeForm.get('cookingTime')?.hasError('required')
                    || recipeForm.get('cookingTime')?.hasError('min')) {
                        <mat-error class="app-custom-control-error">Вкажіть час приготування</mat-error>
                    }
                </div>
            </div>
            <div class="form-row">
                <div class="flex-column-wrapper">
                    <app-manage-ingredients formControlName="ingredients"></app-manage-ingredients>
                    @if (ingredientError) {
                        <mat-error class="app-custom-control-error">{{ ingredientError }}</mat-error>
                    }
                </div>
            </div>
            <div class="form-row">
                <div class="flex-column-wrapper">
                    <app-chips-autocomplete-multiple
                            formControlName="foodTypeIds"
                            icon="ramen_dining_outlined"
                            [items]="foodTypes"
                            placeholder="Додати тип харчування..."
                            label="Типи харчування">
                    </app-chips-autocomplete-multiple>
                    @if (recipeForm.get('foodTypeIds')?.hasError('required')
                    && recipeForm.get('foodTypeIds')?.touched) {
                        <mat-error class="app-custom-control-error">
                            Виберіть принаймні один тип харчування
                        </mat-error>
                    }
                </div>

                <div class="flex-column-wrapper">
                    <app-chips-autocomplete-multiple
                            formControlName="seasonIds"
                            icon="sunny_snowing_outlined"
                            [items]="seasons"
                            placeholder="Додати сезон..."
                            label="Сезони">
                    </app-chips-autocomplete-multiple>
                    @if (recipeForm.get('seasonIds')?.hasError('required')
                    && recipeForm.get('seasonIds')?.touched) {
                        <mat-error class="app-custom-control-error">
                            Виберіть принаймні один сезон
                        </mat-error>
                    }
                </div>
            </div>

            <div class="form-row">
                <div class="flex-column-wrapper">
                    <app-chips-autocomplete-multiple
                            formControlName="dietIds"
                            icon="medical_information_outlined"
                            [items]="diets"
                            placeholder="Додати дієту..."
                            label="Дієти">
                    </app-chips-autocomplete-multiple>
                    @if (recipeForm.get('dietIds')?.hasError('required')
                    && recipeForm.get('dietIds')?.touched) {
                        <mat-error class="app-custom-control-error">
                            Додайте принаймні одну дієту
                        </mat-error>
                    }
                </div>

                <div class="flex-column-wrapper">
                    <app-chips-autocomplete-multiple
                            formControlName="dishTypeIds"
                            icon="chef_hat_outlined"
                            [items]="dishTypes"
                            placeholder="Додати тип страви..."
                            label="Типи страв">
                    </app-chips-autocomplete-multiple>
                    @if (recipeForm.get('dishTypeIds')?.hasError('required')
                    && recipeForm.get('dishTypeIds')?.touched) {
                        <mat-error class="app-custom-control-error">
                            Додайте мінімум один тип страви
                        </mat-error>
                    }
                </div>
            </div>
            <div class="form-row">
                <mat-form-field appearance="outline" class="description-field">
                    <mat-label>Метод приготування</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="7"
                              rows="7"
                              #autosize="cdkTextareaAutosize"
                              formControlName="instructions"></textarea>
                    @if (recipeForm.get('instructions')?.hasError('required')) {
                        <mat-error>
                            Опишіть, як саме готується страва
                        </mat-error>
                    }
                    @if (recipeForm.get('instructions')?.hasError('maxlength')) {
                        <mat-error>
                            Метод приготування не повинен бути більше 5000 символів
                        </mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="form-actions">
                @if (isSaving) {
                    <app-progress-loader [minHeight]="48"></app-progress-loader>
                }
                <button mat-button class="remove-button" (click)="remove()">Видалити</button>
                <button mat-button class="cancel-button" (click)="cancel()">Скасувати</button>
                <button mat-raised-button
                        [disabled]="isSaving"
                        (click)="save()">
                    Зберегти
                </button>
            </div>
        </div>
    </form>
</ng-template>
