<div class="page-container">
    @if (!authenticated) {
        <app-unauthorized message="Авторизуйтесь щоб мати можливіть створити рецепт"></app-unauthorized>
    } @else {
        <form [formGroup]="recipeForm" class="recipe-container">
            <div class="recipe-header">
                <div class="upload-picture-column">
                    <app-recipe-picture
                            [editable]="true"
                            (pictureUpdated)="updateRecipePicture($event)"></app-recipe-picture>
                </div>
                <div class="info-column">
                    <h1 class="page-title user-name">Створити рецепт</h1>
                    <div class="edit-mode-form-container">
                        <div class="form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>Назва рецепта</mat-label>
                                <input matInput formControlName="name">
                                <mat-error *ngIf="recipeForm.get('name')?.hasError('required')">
                                    Будь ласка вкажіть назву рецепта
                                </mat-error>
                                <mat-error *ngIf="recipeForm.get('name')?.hasError('maxlength')">
                                    Назва не повинна перевищувати 50 символів
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-row">
                            <mat-form-field appearance="outline" class="description-field">
                                <mat-label>Опис</mat-label>
                                <textarea matInput
                                          cdkTextareaAutosize
                                          cdkAutosizeMinRows="7"
                                          rows="7"
                                          #autosize="cdkTextareaAutosize"
                                          formControlName="description"></textarea>
                                <mat-error *ngIf="recipeForm.get('description')?.hasError('maxlength')">
                                    Опис не повинен бути більше 10000 символів
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="edit-mode-form-container">
                <div class="form-row">
                    <app-cooking-time-picker
                            formControlName="cookingTime"
                            class="cooking-time-picker"></app-cooking-time-picker>
                </div>
                <div class="form-row">
                    <app-chips-autocomplete-multiple
                            formControlName="foodTypeIds"
                            [items]="foodTypes"
                            placeholder="Додати тип харчування..."
                            label="Типи харчування">
                    </app-chips-autocomplete-multiple>

                    <app-chips-autocomplete-multiple
                            formControlName="seasonIds"
                            [items]="seasons"
                            placeholder="Додати сезон..."
                            label="Сезони">
                    </app-chips-autocomplete-multiple>
                </div>

                <div class="form-row">
                    <app-chips-autocomplete-multiple
                            formControlName="dietIds"
                            [items]="diets"
                            placeholder="Додати дієту..."
                            label="Дієти">
                    </app-chips-autocomplete-multiple>

                    <app-chips-autocomplete-multiple
                            formControlName="dishTypeIds"
                            [items]="dishTypes"
                            placeholder="Додати тип страви..."
                            label="Типи страв">
                    </app-chips-autocomplete-multiple>
                </div>
                <div class="form-actions">
                    <button mat-button (click)="cancel()">Скасувати</button>
                    <button mat-raised-button (click)="save()">Зберегти</button>
                </div>
            </div>
        </form>
    }
</div>
