@use "sass:color";
@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as mat;
@use "styles/theme-colors" as colors;

:root {
  --color-white: #ffffff;
  --color-primary-green: #459b65;
  --color-primary-green-darken: #076842;
  --color-gray-dark: #3b4a3f;
  --color-red-hover: #ff6b6b;
}

html {
  color-scheme: light;
  @include mat.theme((
          color: (
                  theme-type: light,
                  primary: colors.$primary-palette,
                  tertiary: colors.$tertiary-palette
          ),
          typography: Roboto,
          density: 0
  ));
}

/* Глобальні стилі для іконок */
.material-symbols-outlined {
  font-size: 40px;
  color: var(--black);
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 72;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
