<form>
    <mat-form-field class="app-chip-list" (click)="autocompleteTrigger.openPanel()">
        <mat-label>{{ label }}</mat-label>
        <div class="app-chip-select">
            <mat-chip-grid #chipGrid>
                @for (item of selectedItems; track item.id) {
                    <mat-chip-row (removed)="remove(item)">
                        {{ item.name }}
                        <button matChipRemove [attr.aria-label]="'remove ' + item.name">
                            <mat-icon class="material-symbols-outlined">close</mat-icon>
                        </button>
                    </mat-chip-row>
                }
            </mat-chip-grid>
            <input
                #inputField
                [placeholder]="placeholder"
                [class.app-has-value]="selectedItems.length > 0"
                [ngModelOptions]="{ standalone: true }"
                [ngModel]="currentSearchText"
                [hidden]="selectedItems.length === items.length"
                (ngModelChange)="currentSearchText = $event"
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
            />
        </div>
        <mat-icon class="material-symbols-outlined" matSuffix>
            keyboard_arrow_down_outlined
        </mat-icon>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); inputField.value = ''">
            @for (item of filteredItems; track item.id) {
                <mat-option [value]="item">{{ item.name }}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>
