.recipe-header {
    display: flex;
    margin-bottom: 30px;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 48px;
    margin: 0 0 40px;
    line-height: 1;
}

.recipe-picture-column {
    flex: 0 0 360px;
    margin-right: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.info-column {
    flex: 1;
    position: relative;
    width: calc(360px + 40px);
    p {
        font-family: "Oswald", sans-serif;
        color: var(--color-tertiary);
        font-weight: 300;
        letter-spacing: 0.04rem;
        font-size: 16px;
    }
}
.cooking-time-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
    gap: 24px;
    line-height: 1;
}

.recipe-author-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
    .app-default-label {
        width: 180px;
    }
}

.recipe-author {
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.04rem;
    color: var(--color-tertiary-darken);
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: var(--color-secondary);
    }

    span {
        font-size: 18px;
    }
}

.cooking-time {
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.04rem;
    color: var(--color-secondary);
    font-weight: 500;
    gap: 8px;

    span {
        font-size: 24px;
    }
}

.description-field {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.04rem;
    color: var(--color-tertiary);
    font-weight: 300;
    padding: 0 2px;
    margin: 0;
}

.recipe-specifications-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 30px;
    height: 48px;
    .app-default-label {
        width: 180px;
    }
}

.row {
    padding-bottom: 24px;
}
