<div class="recipe-container">
    <div class="recipe-header">
        <div class="recipe-picture-column">
            <app-recipe-picture
                    [isLiked]="recipeResponse?.recipe?.isLiked"
                    [recipeId]="recipeResponse?.recipe?.id"
                    [editable]="false"
                    [recipePicture]="recipeResponse?.recipe?.imageUrl || ''"></app-recipe-picture>
        </div>
        <div class="info-column">
            <h1 class="page-title">{{ recipeResponse?.recipe?.name }}</h1>

            <app-created-by-wrapper #createdByWrapper [createdBy]="recipeResponse?.recipe?.createdBy">
                @if (createdByWrapper.createdByUser; as createdByUser) {
                    <div class="row">
                        <div class="recipe-author-wrapper">
                            <label class="app-default-label">
                                Автор рецепта
                            </label>
                            <a [routerLink]="['/profile', createdByUser.id]" class="recipe-author">
                                <app-user-picture [user]="createdByUser"></app-user-picture>
                                <span class="user-info-name">{{ createdByUser?.firstName }} {{ createdByUser?.lastName }}</span>

                            </a>
                        </div>
                    </div>
                }
            </app-created-by-wrapper>

            <div class="recipe-specifications-wrapper">
                <label class="app-default-label">
                    Типи харчування
                </label>
                <mat-chip-set>
                    @for (item of recipeResponse?.recipe?.foodType; track item.id) {
                        <mat-chip>{{item.name}}</mat-chip>
                    }
                </mat-chip-set>
            </div>
            <div class="recipe-specifications-wrapper">
                <label class="app-default-label">
                    Сезони
                </label>
                <mat-chip-set>
                    @for (item of recipeResponse?.recipe?.season; track item.id) {
                        <mat-chip>{{item.name}}</mat-chip>
                    }
                </mat-chip-set>
            </div>
            <div class="recipe-specifications-wrapper">
                <label class="app-default-label">
                    Дієти
                </label>
                <mat-chip-set>
                    @for (item of recipeResponse?.recipe?.diet; track item.id) {
                        <mat-chip>{{item.name}}</mat-chip>
                    }
                </mat-chip-set>
            </div>
            <div class="recipe-specifications-wrapper">
                <label class="app-default-label">
                    Типи страв
                </label>
                <mat-chip-set>
                    @for (item of recipeResponse?.recipe?.dishType; track item.id) {
                        <mat-chip>{{item.name}}</mat-chip>
                    }
                </mat-chip-set>
            </div>
        </div>
    </div>
    <div class="row">
        @if (recipeResponse?.recipe?.cookingTime; as cookingTime) {
            <div class="row">
                <div class="cooking-time-wrapper">
                    <label class="app-default-label">
                        Час приготування
                    </label>
                    <div class="cooking-time">
                        <mat-icon class="material-symbols-outlined">schedule_outlined</mat-icon>
                        <span>{{ cookingTime | cookingTimeFormat }}</span>
                    </div>
                </div>
            </div>
        }
        <p class="description-field">
            {{ recipeResponse?.recipe?.description }}
        </p>
    </div>
    @if (recipeResponse?.ingridientsDetails; as ingredients) {
        <div class="row">
            <app-manage-ingredients [editable]="false" [ingredients]="ingredients"></app-manage-ingredients>
        </div>
    }
    <p class="description-field">
        {{ recipeResponse?.recipe?.instructions }}
    </p>

    @if (recipeResponse?.recipe; as recipe) {
        <div class="app-comments-wrapper">
            <app-user-comments [recipe]="recipe"></app-user-comments>
        </div>
    }

</div>
