:host {
    .app-default-label {
        margin-bottom: 32px;
    }
}

.comments-section {
    margin: 2rem 0;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.04rem;
}

.comments-loader {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}


.comment-form-container {
    margin-bottom: 2rem;
}

.login-to-comment {
    background-color: var(--color-light);
    border-radius: 16px;
    padding: 1.25rem;
    margin-bottom: 45px;
    text-align: center;
    color: var(--color-tertiary);
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-textarea {
    width: 100%;
}

.comment-form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    margin-top: 0.5rem;

}

.no-comments {
    text-align: center;
    padding: 2rem;
    color: var(--color-tertiary);
    background-color: var(--color-light);
    border-radius: 16px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 42px;
    &.action-in-progress {
        opacity: 0.7;
        filter: grayscale(0.5);
        pointer-events: none;
    }
}

.comment-form-actions-progress-wrapper {
    padding: 0 32px;
}

.comment-actions {
    display: flex;
    gap: 12px;
}

.comment-item {
    border-radius: 16px;
    background-color: var(--color-white);
    box-shadow: rgba(9, 30, 66, 0.12) 0 4px 8px -2px, rgba(9, 30, 66, 0.07) 0px 0px 0px 1px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        box-shadow: rgba(9, 30, 66, 0.15) 0 8px 14px -2px, rgba(9, 30, 66, 0.07) 0px 0px 0px 1px;
    }
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;

    app-created-by-wrapper {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    a.recipe-author {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .user-name {
        letter-spacing: 0.06rem;
        font-size: 18px;
        font-weight: 300;
        color: var(--color-tertiary-dark);
    }
}


.comment-content {
    padding: 18px 24px 24px;
    line-height: 1.5;
    color: var(--color-tertiary-dark);
    word-break: break-word;
}

.comment-user-nickname {
    font-weight: 300;
    color: var(--color-tertiary);
    letter-spacing: 0.04rem;
    font-size: 0.875rem;
}

.comment-footer {
    padding: 18px 20px;
    font-size: 0.875rem;
}

.comment-date {
    display: flex;
    align-items: center;
    color: var(--color-tertiary);
    gap: 8px;

    mat-icon {
        margin-right: 0.375rem;
    }
}

.edited-mark {
    margin-left: 0.5rem;
    font-weight: 300;
    color: var(--color-tertiary-lighten);
}
