<header>
  <nav>
    <!-- Посилання для навігації -->
    <a>ШВИДКІ РЕЦЕПТИ</a>
    <a>СТАТТІ</a>
  </nav>
  <div class="logo">
     <span class="material-symbols-outlined">chef_hat</span>
    <a routerLink="/">GREEN RECIPES</a> <!-- Посилання на головну сторінку -->
  </div>
  <div class="icons">
    <!-- Кнопки з використанням Angular Router -->
    <span routerLink="/profile" routerLinkActive="active" class="material-symbols-outlined">person</span>
    <span class="material-symbols-outlined">favorite</span>
    <span class="material-symbols-outlined">contract_edit</span>
  </div>
</header>