.recipes-container {
    width: 100%;
}

.recipes-grid {
    display: grid;
    gap: 42px;
    grid-template-columns: repeat(4, 1fr);

    // Small
    @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    // Tablet
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    // Mobile
    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }

}

.recipe-tags {
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.recipe-card {
    width: 100%;
    transition: transform 0.12s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: translateY(-5px);
        .recipe-image-container:after {
            opacity: 0.1;
        }
        .recipe-image {
            transform: scale(1.024);
        }
    }
}

.recipe-image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        transition: opacity 0.12s ease-in-out;
        pointer-events: none;
        background-color: var(--color-tertiary-dark);
    }
}

.recipe-image {
    width: 100%;
    aspect-ratio: 5/7;
    object-fit: cover;
    transform: scale(1.015);
    transition: transform 0.2s ease-in-out;
    filter: sepia(0.15);
}

.recipe-details {
    padding: 12px 0;
}

.recipe-title {
    margin: 0 0 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 21px;
    color: var(--color-tertiary);
}

.cooking-time {
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.04rem;
    color: var(--color-tertiary);
    gap: 8px;

    span {
        font-size: 16px;
    }
}

.no-recipes-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    text-align: center;
    gap: 2rem;
}

.recipe-like {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
}
