<div class="recipes-container">
    @if (noRecipesFound && !isLoading) {
        <div class="no-recipes-message">
            <h1 class="auth-message">Рецептів не знайдено</h1>
            <button class="app-raised-icon-button" mat-raised-button color="primary" routerLink="/recipe">
                <mat-icon class="material-symbols-outlined">contract_edit_outlined</mat-icon>
                Створити рецепт
            </button>
        </div>
    }

    @if (recipes.length > 0) {
        <div class="recipes-grid">
            @for (recipe of recipes; track recipe.id) {
                <a class="recipe-card app-zero-link" [routerLink]="['/recipe', recipe.id]">
                    <div class="recipe-image-container">
                        <img [src]="recipe.imageUrl" [alt]="recipe.name" class="recipe-image">
                        <app-recipe-tag-icons class="recipe-tags" [recipe]="recipe"></app-recipe-tag-icons>
                        <app-recipe-like class="recipe-like" [recipeId]="recipe.id" [isLiked]="recipe.isLiked"></app-recipe-like>
                    </div>
                    <div class="recipe-details">
                        <h2 class="recipe-title">{{ recipe.name }}</h2>
                        <div class="cooking-time">
                            <mat-icon class="material-symbols-outlined">schedule_outlined</mat-icon>
                            <span>{{ recipe.cookingTime | cookingTimeFormat }}</span>
                        </div>
                    </div>
                </a>
            }
        </div>
    }


    @if (isLoading) {
        <app-progress-loader></app-progress-loader>
    }
</div>
